{% extends 'base.html.twig' %}

{% block title %}Edition de l'équipement
{% endblock %}

{% block body %}
	<h1 class="alert alert-info text-center">Edition de l'équipement</h1>
	<div class="container col-8 text-center">
		{% include "equipement/_form.html.twig" %}
	</div>
{% endblock %}
