{% extends 'base.html.twig' %}

{% block title %}Edition du véhicule{% endblock %}

{% block body %}
    <h1 class="alert alert-info">Edition du véhicule</h1>

    {{ include('vehicule/_form.html.twig', {'button_label': 'Enregistrer'}) }}

{% endblock %}
