{% extends 'base.html.twig' %}

{% block title %}Nouveau véhicule
{% endblock %}

{% block body %}
	<h1 class="alert alert-info text-center">Ajout d'un véhicule</h1>

	<div class="container col-8 text-center">
		{% include "vehicule/_form.html.twig" %}
	</div>

{% endblock %}
