<div class="container">
	<nav class="navbar navbar-expand-sm navbar-light bg-secondary">
		<ul class="navbar-nav mx-auto text-center">
			<li class="nav-item">
				<a class="nav-link btn btn-dark text-light m-1 p-3 font-weight-bold" href="{{ path('vehicule_index') }}">VEHICULES</a>
			</li>
			<li class="nav-item">
				<a class="nav-link btn btn-dark text-light m-1 p-3 font-weight-bold" href="{{ path('equipement_index') }}">EQUIPEMENTS</a>
			</li>
		</ul>
	</nav>
</div>
