<form method="post" action="{{ path('vehicule_equipement_delete', {'vehicule': vehicule_equipement.vehicule}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vehicule_equipement.vehicule) }}">
    <button class="btn">Delete</button>
</form>
