{{ form_start(form) }}
{{ form_label(form.equipement, 'Selectionnez un équipement dans la liste puis validez pour l\'ajouter au véhicule') }}
{{ form_widget(form.equipement, {'attr': {'class': 'text-center mb-3'}}) }}
{% do form.nomLong.setRendered() %}
{% do form.poids.setRendered() %}
<button class="btn btn-success mx-auto d-flex justify-content-center m-3">Valider</button>
{{ form_end(form) }}