{% extends 'base.html.twig' %}

{% block title %}Ajouter équipement
{% endblock %}

{% block body %}
	<h1 class="alert alert-info text-center">Ajout d'un équipement sur le véhicule</h1>

	{{ include('vehicule_equipement/_form.html.twig') }}

{% endblock %}
