{% extends 'base.html.twig' %}

{% block title %}Ajout d'équipement
{% endblock %}

{% block body %}
	<h1 class="alert alert-info text-center">Ajout d'un équipement sur le véhicule</h1>
    	<div class="d-flex justify-content-center m-3">
		<a href="{{ path('vehicule_edit', {'id': vehicule}) }}" class="btn btn-info mr-2">
			<i class="fa fa-arrow-left" aria-hidden="true"></i>
		</a>
	</div>
	{% for message in app.flashes('alert') %}
		<div class="flash-alert alert alert-danger text-center">
			{{ message }}
		</div>
	{% endfor %}
	{% for message in app.flashes('success') %}
		<div class="flash-alert alert alert-success text-center">
			{{ message }}
		</div>
	{% endfor %}
	<div class="container col-10 text-center">
		{{ include('vehicule_equipement/_form-add.html.twig') }}
	</div>

{% endblock %}
